body {
    background-color: rgb(46, 228, 217);
  }
  
  h1 {
    color: rgb(0, 0, 0);
    text-align: left;
    display:inline-block;
    font-family: Luminari, fantasy;
    font-style: italic;
    text-shadow: 2px 2px 10px rgb(61, 140, 214);
    margin-bottom: 1px;
    
  }

  p {
    font-family: verdana;
    font-size: 20px;
    scroll-margin-bottom: 20px;
    padding-left: 50px;
  }
  a{
    text-decoration: none;
    color:black;
    border:solid 1px;
    padding:5px;
    background-color: rgb(30, 118, 158);
    border-radius: 10px;
  }

.principal-bar{
    background-color: rgb(161, 198, 212);
    width: 1140px;
    border: 10px solid rgb(7, 78, 110);
    border-radius: 8px;
    padding: 50x;
    margin: 20px;
}
.nav li{
    display: inline-block;
    font-size: 20px;
    padding: 1px;
}
.Body{
  background-color: rgb(161, 198, 212);
  width: 1000px;
  border: 10px transparent;
  padding: 50x;
  border: 5px solid rgb(7, 78, 110);
  border-radius: 8px;
  margin: 20px;
  padding-left: 50px;
  padding-bottom: 600px;
}
#Animerch{
    display: inline-block;
    width: 120px;
    line-height: 200px;}

#uwu{
    display: inline-block;
    padding-left: 20px;
    width: 200px;
    line-height: 320px;
    position:absolute;
    padding-top: 40px;}
#owo{
    display: inline-block;
    padding-left: 340px;
    width: 200px;
    line-height: 320px;
    position:absolute;
    padding-top: 40px;}
#ewe{
    display: inline-block;
    padding-left: 650px;
    width: 200px;
    line-height: 320px;
    position:absolute;
    padding-top: 40px;}
    #a{
        display: inline-block;
        font-size: 20px;
        padding-left: 20px;
        padding-top: 20px;
        color: rgb(184, 21, 21);
    }
    #b{
        display: inline-block;
        font-size: 20px;
        padding-left: 240px;
        padding-top: 20px;
        color: rgb(184, 21, 21);
    }
    #c{
        display: inline-block;
        font-size: 20px;
        padding-left: 320px;
        padding-top: 20px;
        color: rgb(184, 21, 21);
    }
#gawr{
        display: inline-block;
        font-size: 20px;
        padding-left: 20px;
        color: rgb(26, 16, 172);
    }
#Chainsaw{
    display: inline-block;
    font-size: 20px;
    padding-left: 100px;
    color: rgb(17, 124, 31);
    }
#Rei{
    display: inline-block;
    font-size: 20px;
    padding-left: 110px;
    color: rgb(25, 150, 143);
    }
.ca{
    text-decoration: none;
    color:black;
    border:solid 1px;
    padding:5px;
    background-color: rgb(30, 118, 158);
    border-radius: 10px;
    margin-left: 80px;
    margin-bottom: 20px;
  }
.cb{
    text-decoration: none;
    color:black;
    border:solid 1px;
    padding:5px;
    background-color: rgb(30, 118, 158);
    border-radius: 10px;
    margin-left: 250px; 
  }
.cc{
    text-decoration: none;
    color:black;
    border:solid 1px;
    padding:5px;
    background-color: rgb(30, 118, 158);
    border-radius: 10px;
    margin-left: 245px;
  }